.custom-bullet {
  list-style-type: none; 
  position: relative;
  padding-left: 24px;    
}

.custom-bullet::before {
  content: "";
  position: absolute;
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  width: 18px;  
  height: 18px;  
  background-image: url('../assets/images/Group6.png'); 
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
